{
  "parser": "babel-eslint",
  "env": {
    "es6": false,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "arrow-parens": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off",
    "operator-linebreak": "off",
    "no-debugger": "off"
  },
  "extends": [
    "eslint:recommended",
    "google"
  ]
}
